body {
	font: normal 1em/1.75 "DIN Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #EDE5E2;
	color: #444;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #EA3556;
	background-color: #EDDE45;
	text-decoration: none;
}
img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "DIN Condensed Bold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
}