body {
	font: normal 1em/1.75 "DIN Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #ede5e2;
	color: #444;
	-webkit-font-smoothing: antialiased;
}
a:link, a:visited {
	color: #ea3556;
	background-color: #edde45;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	background-color: #ea3556;
	color: #fff;
}
img,
object,
video {
	max-width: 100%;
}
p,
ul,
ol,
blockquote,
table {
	margin: 0 0 1.75em;
	padding: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
blockquote:last-child,
table:last-child {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: "DIN Condensed Bold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
h1 {
	font-size: 3em;
	line-height: 1.125em;
	margin-bottom: 0.4375em;
}
h2 {
	font-size: 3em;
	line-height: 1.166666667em;
	margin-bottom: 0.583333333em;
}
h3 {
	font-size: 2em;
	line-height: 1.75em;
	margin-bottom: 0.875em;
}
h4 {
	font-size: 1.5em;
	line-height: 1.166666667em;
	margin-bottom: 0.583333333em;
}
h5 {
	font-size: 1.375em;
	line-height: 1.272727273em;
	margin-bottom: 0.636363636em;
}
h6 {
	font-size: 1.25em;
	line-height: 1.4em;
	margin-bottom: 0.7em;
}

blockquote {
	padding: 0.5em 1em;
	font-family: Georgia serif;
	font-style: italic;
	background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 50em) {
	h1 {
		font-size: 4em;
	}
}