@font-face {
  font-family: "DIN Regular";
  src:url("../fonts/din/din-regular.eot?hahadude");
  src:url("../fonts/din/din-regular.eot?#hahadude") format("embedded-opentype"), url("../fonts/din/din-regular.woff?hahadude") format("woff"), url("../fonts/din/din-regular.svg?hahadude#din-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src:url("../fonts/din/dincond-bold.eot?hahadude");
  src:url("../fonts/din/dincond-bold.eot?#hahadude") format("embedded-opentype"), url("../fonts/din/dincond-bold.woff?hahadude") format("woff"), url("../fonts/din/dincond-bold.svg?hahadude#dincond-bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HD Social";
  src:url("../fonts/hd-social.eot?hahadude");
  src:url("../fonts/hd-social.eot?#hahadude") format("embedded-opentype"), url("../fonts/hd-social.woff?hahadude") format("woff"), url("../fonts/hd-social.svg?hahadude#hd-social") format("svg");
  font-weight: normal;
  font-style: normal;
}