.alignleft {
	float: left;
	margin: 0 1.75em 0.5em 0;
}
.alignright {
	float: right;
	margin: 0 0 0.5em 1.75em;
}

main {
	margin: 0 auto;
	width: 65%;
}
.masthead,
[role="contentinfo"] {
	padding-left: 10%;
	padding-right: 10%;
}