main {
    margin: 3em auto;
    width: 82.5%;
    font-size: 0.875em;
    position: relative;
}
.hd-home main {
    width: 100%;
    margin: 0;
}

[role="contentinfo"] {
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (min-width: 50em) {
    main {
        width: 65%;
        font-size: 1em;
    }
    [role="contentinfo"] {
        padding-left: 10%;
        padding-right: 10%;
    }
}