.article {}

.article__title {
    text-align: center;
}
.article__title a:not(:hover) {
    background: transparent;
    color: inherit;
}
.article__body {
    margin-bottom: 1.5em;
}
.article__meta__image {
    overflow: hidden;
    border-radius: 10em;
    background-color: #ea3556;
}
.article__meta__image img {
    display: block;
    margin: auto;
    width: 100%;
}
.article--full .article__meta {
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    color: rgba(9, 25, 59, 0.5);
    border-top: 2px solid rgba(38, 37, 36, 0.125);
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 1em 0 0;
}
.article--full .article__meta__description {
    margin: auto 1em auto 0;
    width: 80%;
}
.article__meta__description [data-icon] {
    font-size: 1.5em;
    background-color: transparent;
    line-height: 1;
}
.article--full .article__meta__image {
    position: relative;
    width: 20%;
    padding-bottom: 20%;
    background-color: transparent;
}
.article--full .article__meta__image img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.article--list-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 1.5em;
}
.article--list-item .article__meta {
    width: 20%;
    margin-right: 2em;
    position: relative;
}
.article--list-item .article__meta__description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 1.55em "DIN Condensed Bold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
    color: #fff;
    opacity: 0.75;
    text-align: center;
}
.article--list-item .article__content {
    width: 80%;
}
.article--list-item .article__title {
    font-size: 2em;
    text-align: left;
}
.article--list-item .article__body {
    margin-bottom: 0;
}
.article--author-profile {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    border-bottom: 3px solid rgba(38, 37, 36, 0.125);
    padding-bottom: 1.5em;
}
.article--author-profile .article__meta {
    width: 25%;
    margin-right: 0;
    margin-left: 2em;
}

.article--calendar-event .article__meta__description {
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    color: #444;
    opacity: 1;
}
.article--calendar-event .day {
    display: block;
    font-size: 0.75em;
    border: 2px solid;
    border-radius: 10em;
    padding-bottom: 100%;
    position: relative;
}
.article--calendar-event .day > span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.article--calendar-event .month {
    font-family: "DIN Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    text-transform: uppercase;
}
.article--calendar-event .article__title {
    margin-bottom: 0;
}
.article--calendar-event .calendar__meta {
    font-size: 0.875em;
    margin-bottom: 1.5em;
}

.pagination {
    border-top: 1px solid rgba(38, 37, 36, 0.125);
    padding-top: 0.5em;
}
.pagination ul {
    list-style: none;
}
.pagination__previous {
    float: right;
}
.pagination__next {
    float: left;
}

@media screen and (min-width: 50em) {
    .article--full .article__meta__description {
        width: 90%;
    }
    .article--full .article__meta__image {
        width: 10%;
        padding-bottom: 10%;
    }

    .article--list-item .article__meta__description {
        font-size: 3.5em;
    }
    .article--list-item .article__title {
        font-size: 3em;
    }
    .article--author-profile .article__title {
        font-size: 4em;
    }
}