.calendar {
	list-style: none;
	margin: 0;
	background: rgba(255, 255, 255, 0.65);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: auto;
}
.calendar ol {
	margin: 0;
	padding: 0;
}
.calendar__event {
	display: inline-block;
	padding: 0 0.25em 0 3em;
	margin-right: 1em;
	margin-bottom: 0;
	text-align: left;
}
.calendar__event--highlight {
	background-color: rgba(237, 222, 69, 0.5);
	box-shadow: 0 0 0 0.25em rgba(237, 222, 69, 0.5);
}
.calendar__event date {
	float: left;
	text-align: center;
	line-height: 1;
	min-width: 2.5em;
	margin: 0 0.5em 0 -3em;
}
.calendar__event date .month {
	display: block;
	font-size: 0.75em;
	text-transform: uppercase;
	margin-bottom: 0.25em;
}
.calendar__event date .day {
	display: block;
	padding: 0 0.125em;
	font-family: "DINCond-Bold";
	font-size: 1.5em;
	border-radius: 2em;
	border: 1px solid;
	line-height: 1.5;
}
.calendar__event__title {
	margin: 0.333333333em 0 0.25em;
	line-height: 1;
	font-size: 1em;
}
.calendar__event__location {
	font-size: 0.75em;
}

.calendar--large {
	padding: 0;
	margin-top: -1em;
}
.calendar--large .calendar__event {
	margin-bottom: 1.5em;
	padding-left: 6.5em;
}
.calendar--large .calendar__event__title {
	font-size: 2em;
	margin-top: 0;
}
.calendar--large .calendar__event date {
	width: 5em;
	margin-left: -6.5em;
}
.calendar--large .calendar__event date .month {
	font-size: 1.5em;
}
.calendar--large .calendar__event date .day {
	font-size: 3.5em;
}