label,
input[type="text"], input[type="email"], input[type="url"], input[type="number"],
textarea,
select {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 0.25em;
}
label:last-child,
input:last-child,
textarea:last-child,
select:last-child {
	margin-bottom: 0;
}

.form__control-group {
	margin-bottom: 1em;
}

button,
.button {
	display: inline-block;
	border: 0;
	font: bold 1.5em "DIN Condensed Bold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	padding: 0.25em 0.5em;
	background-color: #ea3556;
	color: #fff;
}