[role="contentinfo"] {
    padding-top: 2em;
    padding-bottom: 2em;
    background: #e0d8d5;
    text-align: center;
}

[role="contentinfo"] small {
    line-height: 3em;
}
.social {
    list-style: none;
    font-size: 1.5em;
}
.social li {
    display: inline;
}
.social a {
    background-color: transparent;
}
.social a:hover, .social a:active, .social a:focus {
    color: #444;
}
.social a[data-icon] span {
    display: none;
}

@media screen and (min-width: 50em) {
    [role="contentinfo"] {
        text-align: left;
    }

    [role="contentinfo"] small {
        float: left;
    }
    .social {
        float: right;
    }
}