.masthead {
    background-color: #ea3556;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}
body.home .masthead {
    background: #262524;
}
.masthead__logo {
    position: relative;
    opacity: 0.65;
    margin-bottom: 0;
}
.masthead__logo a {
    display: block;
    margin-top: -2.5%;
    background-color: transparent !important;
    display: block;
}
.masthead__logo img {
    display: block;
    margin: 0 auto;
    width: 800px;
}
.masthead__nav {
    position: absolute;
    bottom: 0;
    padding: 0.75em 0 0.5em;
    font: bold 1.25em "DIN Condensed Bold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
}
.masthead__nav ul {
    width: 100%;
    list-style: none;
    text-align: center;
}
.masthead__nav li {
    margin-left: 0.785714286em;
    margin-bottom: 0;
    display: inline;
}
.masthead__nav li:first-child {
    margin-left: 0;
}
.masthead__nav a:link, .masthead__nav a:visited {
    background-color: transparent;
    color: #fff;
}
.masthead__nav a:hover, .masthead__nav a:active, .masthead__nav a:focus {
    color: #ea3556;
}

@media screen and (min-width: 50em) {
    .masthead {
        height: 12em;
    }
    body.home .masthead {
        height: 6.5625em;
        z-index: 1;
    }
    .masthead__logo {
        opacity: 1;
    }
    body.home .masthead__logo {
    }
    .masthead__nav {
        height: 6.857142857em;
        padding: 0 1em 0 0;
        font-size: 1.75em;
        position: relative;
    }
    body.home .masthead__nav {
        height: 3.75em;
    }
    .masthead__nav ul {
        line-height: 1.25;
        text-align: right;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-55%);
        transform: translateY(-55%);
    }
}
