.masthead {
	background: #ea3556 url(http://farm4.staticflickr.com/3786/12289960065_33205d9732_h.jpg) no-repeat 50% 50%;
	display: flex;
	height: 12em;
}
.masthead__logo {
	width: 63%;
	position: relative;
	margin-left: -3%;
	margin-right: -4%;
}
.masthead__logo a {
	display: block;
	margin-top: -2.5%;
	background-color: transparent !important;
	display: block;
}
.masthead__logo img {
	display: block;
	margin: 0 auto;
	width: 800px;
}
.masthead__nav {
	width: 33%;
	position: relative;
	display: flex;
	font: bold 1.75em "DIN Condensed Bold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
}
.masthead__nav ul {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-content: center;
	list-style: none;
}
.masthead__nav li {
	margin-left: 0.892857143em;
}
.masthead__nav li:first-child {
	margin-left: 0;
}
.masthead__nav a:link, .masthead__nav a:visited {
	background-color: transparent;
	color: #fff;
}
.masthead__nav a:hover, .masthead__nav a:active, .masthead__nav a:focus {
	color: #ea3556;
}