.panel {
    padding: 2em 10%;
    text-align: center;
    background-color: #ea3556;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    min-height: 15em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.panel__title {
    font-size: 3.5em;
    line-height: 1;
}
.panel__title a {
    background: transparent;
    color: #fff;
}
.panel__title a:hover, .panel__title a:active, .panel__title a:focus {
    color: #ea3556;
}
.panel__header {
}
.panel__tagline {
    margin-bottom: 0;
    font-size: 0.75em;
    text-transform: uppercase;
    -webkit-transform: skew(-13deg);
    transform: skew(-13deg);
}
.panel__tagline:before,
.panel__tagline:after {
    content: "\2014\2014\2014";
    margin: 0 1em;
    letter-spacing: -2px;
    opacity: 0.75;
}
.panel__body > span {
    background-color: rgba(234, 53, 86, 0.75);
    box-shadow: 0 0 0 3px rgba(234, 53, 86, 0.75);
}

.panel--calendar {
    padding: 0.25em 1em;
    min-height: 0;
}
.panel--calendar + .panel {
    padding-top: 5.75em;
}
.panel--ducf {
    background-image: url(http://farm4.staticflickr.com/3801/12290160123_c917164e71_h.jpg);
}

@media screen and (min-width: 50em) {
    .panel__title {
        font-size: 6em;
    }
    .panel__tagline:before,
    .panel__tagline:after {
        content: "\2014\2014\2014\2014\2014";
    }
}