.site-ducf a:link, .site-ducf a:visited {
    color: #f36102;
    background-color: #a5d9f6;
}
.site-ducf a:hover, .site-ducf a:active, .site-ducf a:focus {
    color: #fff;
    background-color: #f36102;
}