@font-face {
    font-family: "HD Logo";
    src: url("../fonts/hd.eot");
    src: url("../fonts/hd.eot?#iefix") format("embedded-opentype"),
         url("../fonts/hd.woff") format("woff"),
         url("../fonts/hd.ttf") format("truetype"),
         url("../fonts/hd.svg#hd") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
	font: normal 1em/1.75 DIN-Regular, "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #EDE5E2;
	color: #444;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #EA3556;
	background-color: #EDDE45;
	text-decoration: none;
}
img {
	max-width: 100%;
}

header[role="banner"] {
	background-color: #EDDE45;
	/*background-color: #ED146F;*/
	background: #EA3556 url(http://farm4.staticflickr.com/3786/12289960065_33205d9732_h.jpg) no-repeat 50% 50%;
	padding: 0 10%;
	position: relative;
	height: 12em;
	z-index: 1;
	/* calendar too */
}
header[role="banner"] a {
	background-color: transparent;
	color: #fff;
	/*color: #EDDE45;*/
	transition: color 0.25s ease-out;
}
header[role="banner"] a:hover {
	color: #fff;
}
header[role="banner"] h1 {
	width: 24em;
	margin: 0;
	position: absolute;
	top: -1em;
	left: -1em;
}
header[role="banner"] h1 a:before {
	font: normal 315px/1 "HD Logo";
	speak: none;
	content: "\e605";
}
nav {
	position: absolute;
	right: 10%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	font-size: 1.75em;
	font-weight: bold;
}
nav ul {
	list-style: none;
}
nav li {
	display: inline-block;
	margin-right: 0.75em;
}
main {
	padding: 0 20%;
	position: relative;
}
footer {
	padding: 1em 10%;
	background: #e0d8d5;
	overflow: hidden;
	position: relative;
}
footer:before {
	font: normal 250px/1 "HD Logo";
	speak: none;
	content: "\e605";
	color: #EDE5E2;
	position: absolute;
	display: block;
	top: -100px;
	right: 0;
	-webkit-transform: rotate(180deg);
}
main h1, h2, h3, h4 {
	text-transform: uppercase;
}
main h1 {
	font-size: 4em;
	line-height: 1;
	margin: 0.5em 0;
}
article > header {
	margin: 2.5em 0 2.5em -10%;
	width: 120%;
	text-align: center;
}
.meta {
	color: rgba(9, 25, 59,  0.35);
	border: 1px solid rgba(9, 25, 59,  0.15);
	border-width: 1px 0;
	font-size: 0.625em;
	text-transform: uppercase;
	font-family: Georgia;
}
.meta a {
	background: none;
}

.alignleft {
	float: left;
	margin: 0.25em 2em 0.5em 0;
}
.alignright {
	float: right;
	margin: 0.25em 0 0.5em 2em;
}

main h1, h2, h3, h4,
header[role="banner"] {
	font-family: "DINCond-Bold";
	text-transform: uppercase;
}

.social {
	list-style: none;
	padding: 0;
}
.social li {
	display: inline;
	margin-right: 1em;
}
.social [data-icon] {
	background: none;
}
.social [data-icon]:before {
	font-size: 1.5em;
}

.home header {
	background: #262524;
	height: 6.5625em;
}
.home header h1 {
	top: -0.666666667em;
	left: 2em;
}
.home header h1 a:before {
	font-size: 155px;
}
.home main {
	padding: 0;
}
.home section {
	min-height: 20em;
	padding: 2em 10%;
	color: #fff;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.home section:first-of-type {
	padding-top: calc(2em + 3.6em);
}
section h1 {
	color: #fff;
	font-size: 6em;
}
section.ducf {
	background-image: url(http://farm4.staticflickr.com/3801/12290160123_c917164e71_h.jpg);
}
section.blog {
	background-image: url(http://farm8.staticflickr.com/7333/12290270343_5655613046_h.jpg);
}
section.about {
	background-image: url(http://farm8.staticflickr.com/7346/12290240723_a3cd5ee56c_h.jpg);
}

.calendar {
	list-style: none;
	padding: 0.5em 10%;
	margin: 0;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
}
.calendar__event {
	display: inline-block;
	padding: 0 1.25em 0 3em;
}
.calendar__event date {
	float: left;
	text-align: center;
	line-height: 1;
	width: 2.5em;
	margin: 0 0.5em 0 -3em;
}
.calendar__event date .month {
	display: block;
	font-size: 0.75em;
	text-transform: uppercase;
}
.calendar__event date .day {
	display: block;
	font-family: "DINCond-Bold";
	font-size: 2em;
}
.calendar__event__title {
	margin: 0 0 0.25em;
	line-height: 1;
}
.calendar__event__location {
	font-size: 0.75em;
}